<section class="row flex-items-xs-center mx-0 w-100">

	<div class="col-xs-6 flex-xs-middle custom-form">

		<h2>Sign in</h2>
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div class="form-group">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, class: 'form-control' ,autofocus: true %>
		  </div>

		  <div class="form-group">
		    <%= f.label :password %><br />
		    <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
		  </div>

		  <div class="form-group text-xs-center">
		    <%= f.submit "Log in", class: "btn btn-outline-primary btn-block" %>
		  </div>

			<% if devise_mapping.rememberable? -%>
				<div class="form-check text-xs-center">
					<%= f.check_box :remember_me, class: "form-check-input" %>
					<%= f.label :remember_me, class: "form-check-label" %>
				</div>
			<% end -%>
		<% end %>

		<%= render "devise/shared/links" %>

	</div>

</section>
